<!DOCTYPE html>
<html lang="en">

<head>
  <title>Trakanta</title>
  <%- include('../head') %>
  <!-- datatable -->
  <link href="/css/addons/datatables.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"
    integrity="sha512-rKFvwjvE4liWPlFnvH4ZhRDfNZ9FOpdkD/BU5gAIA3VS3vOQrQ5BjKgbO3kxebKhHdHcNUHLqxQYSoxee9UwgA=="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.js"
    integrity="sha512-/McISOEKVzVvgu12/1Hk8dSrbKBShnKn79/R50ysl5qWR1zgj347kOT8LJJvInxHDSPmiBG9vg5AhMx6rcELJg=="
    crossorigin="anonymous"></script>
  <!-- Your custom styles (optional) -->
  <style>
    th {
      white-space: nowrap;
    }

    .scroll {
      overflow: scroll;
      height: 400px;
    }

    .double-nav .breadcrumb-dn {
      color: #fff;
    }

    .side-nav.wide.slim .sn-ad-avatar-wrapper a span {
      display: none;
    }

    .popup {
      width: 900px;
      margin: auto;
      text-align: center
    }

    .popup img {
      width: 200px;
      height: 200px;
      cursor: pointer
    }

    .show {
      z-index: 999;
      display: none;
    }

    .show .overlay {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .66);
      position: absolute;
      top: 0;
      left: 0;
    }

    .show .img-show {
      width: 600px;
      height: 400px;
      background: #FFF;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden
    }

    .img-show span {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 99;
      cursor: pointer;
    }

    table th:first-child {
      border-radius: 10px 0 0 10px;
    }

    table th:last-child {
      border-radius: 0 10px 10px 0;
    }

    .img-show img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }



    .mdb-skin .side-nav .collapsible li .collapsible-header:hover {
      border-radius: 0px 9px 9px 0px;
      color: #ddba0b;
      margin-top: 5px;
      margin-right: 40px;
      background-color: rgba(255, 255, 255, 1);
    }

    .total-price {
      width: 143px;
      height: 47px;
      margin: 35px 13.5px 15px 11.5px;
      padding: 8px 46.5px 8px 41.5px;
      border-radius: 10px;
      background-color: #b5b5b5;
    }

    .swal2-container .swal2-center .swal2-backdrop-show .swal2-popup {
      z-index: 999999;
    }

    ::ng-deep.swal2-container {
      z-index: 999999;
    }
  </style>
</head>

<body class="fixed-sn mdb-skin">
  <%- include('navigation') %>

  <!--Main Layout-->
  <main>
    <div class="container-fluid " id="app">
      <h2>ออเดอร์สินค้าและจัดการสินค้า</h2>

      <!-- Button trigger modal -->
      <!-- Button trigger modal -->
      <div class="d-flex">
        <div>
          <button type="button" style="border-radius: 8px; font-size: 16px;" class="btn btn-success" data-toggle="modal"
            data-target="#insertOrder">
            สร้างออเดอร์
          </button>
        </div>
        <div class="ml-auto">
          <button type="button" style="border-radius: 8px; background-color: #e7b000; color: #fff;"
            class="btn font-18" data-toggle="modal" data-target="#exampleModal">
            นำเข้าไฟล์
          </button>
        </div>
      </div>

      <!-- Create User Modal -->
      <div class="modal fade mt-5" id="insertOrder" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">สร้างออเดอร์/แก้ไข</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/app/createorder" method="POST">
                <div class="col-md-12 text-center">
                  <div class="form-group row">
                    <div class="col-md-4 text-right my-auto">
                      <label for="inputName" style="position: initial; justify-content: end;">ชื่อ-นามสกุล</label>
                    </div>
                    <div class="col-md-8 mt-1">
                      <input type="text" class="form-control" name="membername" v-model="membername" id="inputName"
                        placeholder="ชื่อ-นามสกุล" >
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <div class="form-group row">
                    <div class="col-md-4 text-right my-auto">
                      <label for="inputName" style="position: initial; justify-content: end;">ชื่อเฟสบุ๊ค <span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8 mt-1">
                      <input type="text" class="form-control" name="facebook_name" v-model="facebook_name"
                        id="inputName" placeholder="ชื่อเฟสบุ๊ค" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <div class="form-group row">
                    <div class="col-md-4 text-right my-auto">
                      <label for="inputEmail" style="position: initial; justify-content: end;">ไซส์</label>
                    </div>
                    <div class="col-md-8 mt-1">
                      <input type="text" class="form-control" name="productsize" v-model="productsize" id="inputEmail"
                        placeholder="ไซส์" >
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <div class="form-group row">
                    <div class="col-md-4 text-right my-auto">
                      <label for="inputTelno" style="position: initial; justify-content: end;">ชื่อสินค้า <span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8 mt-1">
                      <input type="text" class="form-control" id="inputTelno" name="productname" v-model="productname"
                        placeholder="ชื่อสินค้า" required>
                    </div>
                  </div>

                </div>

                <div class="col-md-12 text-center">
                  <div class="form-group row">
                    <div class="col-md-4 text-right my-auto">
                      <label for="inputTelno" style="position: initial; justify-content: end;">รายละเอียด</label>
                    </div>
                    <div class="col-md-8 mt-1">
                      <input type="text" class="form-control" id="inputTelno" name="productdetail"
                        v-model="productdetail" placeholder="รายละเอียด" >
                    </div>
                  </div>

                </div>
                <div class="col-md-12 text-center">
                  <div class="form-group row">
                    <div class="col-md-4 text-right my-auto">
                      <label for="inputTelno" style="position: initial; justify-content: end;">รหัสสินค้า</label>
                    </div>
                    <div class="col-md-8 mt-1">
                      <input type="text" class="form-control" id="inputTelno" name="productcode" v-model="productcode"
                        placeholder="รหัสสินค้า" >
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <div class="form-group row">
                    <div class="col-md-4 text-right my-auto">
                      <label for="inputTelno" style="position: initial; justify-content: end;">หมวดหมู่สินค้า</label>
                    </div>
                    <div class="col-md-8 mt-1">
                      <select name="category" v-model="category" class="form-control" >
                        <option style="font-family:Kanit;" value="" disabled selected>หมวดหมู่สินค้า</option>
                        <option value="ผ้าไหม">ผ้าไหม</option>
                        <option value="เสื้อไหม">เสื้อไหม</option>
                        <option value="เสื้อฝ้าย">เสื้อฝ้าย</option>
                        <option value="เครื่องเงิน">เครื่องเงิน</option>
                        <option value="กางเกงผ้าฝ้าย">กางเกงผ้าฝ้าย</option>
                        <option value="กางเกงผ้าไหม">กางเกงผ้าไหม</option>
                        <option value="ผ้าฝ้าย">ผ้าฝ้าย</option>
                        <option value="ผ้าคลุมไหล่">ผ้าคลุมไหล่</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <div class="form-group row">
                    <div class="col-md-4 text-right my-auto">
                      <label for="inputUsername" style="position: initial; justify-content: end;">ราคา</label>
                    </div>
                    <div class="col-md-8 mt-1">
                      <input type="tel" class="form-control" name="productprice" v-model="productprice"
                        @keypress="isNumber($event)" maxlength="10" id="inputUsername" placeholder="0" >
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <div class="form-group row">
                    <div class="col-md-4 text-right my-auto">
                      <label for="inputPassword" style="position: initial; justify-content: end;">ยอดชำระ <span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8 mt-1">
                      <input type="tel" class="form-control" name="totalprice" v-model="totalprice"
                        @keypress="isNumber($event)" maxlength="10" id="inputPassword" placeholder="0" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <div class="form-group row">
                    <div class="col-md-4 text-right my-auto">
                      <label for="inputTelno" style="position: initial; justify-content: end;">สถานะ <span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-8 mt-1">
                      <select name="status" v-model="status" class="form-control" required>
                        <option style="font-family:Kanit;" value="" disabled selected>สถานะ</option>
                        <option value="0">รอชำระเงิน</option>
                        <option value="1">โอนแล้ว</option>
                        <option value="2">ยกเลิกสินค้า</option>
                        <option value="3">รอสรุปยอด</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button
                    v-if="membername!=''&&productname!=''&&productsize!=''&&productdetail!=''&&productcode!=''&&category!=''&&productprice!=''&&totalprice!=''&&status!=''"
                    style="background-color: black; color: #fff; border-radius: 0px;" type="submit"
                    class="btn">บันทึก</button>
                  <button v-else="check==false" style="background-color: black; color: #fff; border-radius: 0px;"
                    type="submit" class="btn" >บันทึก</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Create User -->
      <!-- Modal -->
      <div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">UPLOAD</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3 class='col-12 modal-title text-center'>
                <form class="md-form">
                  <div class="file-field text-center mx-5 border" style="border-radius: 8px;">
                    <div class="btn btn-primary btn-md float-left">
                      <span>Choose file</span>
                      <input type="file">
                    </div>

                    <div class="file-path-wrapper">
                      <input id="upload-csv" type="file" accept=".csv">
                      <input class="file-path validate" style="font-size: 1.2rem;" type="text" style="
        overflow: visible;
        text-align: center;" placeholder="Upload your file">
                    </div>
                  </div>
                </form>
                <!-- <form class="md-form">
  <div class="file-field">
    <div class="file-path-wrapper text-center">
      <input id="upload-csv" type="file" accept=".csv">
      <input class="file-path validate" type="text" style="
        overflow: visible;
        text-align: center;
    " placeholder="Upload your file">
    </div>
  </div> -->
                <!-- <form class="form-inline md-form">
                  <div class="file-field">
                    <div class="btn btn-primary btn-sm">
                      <span>Choose file</span>
                      <input id="upload-csv" type="file" accept=".csv">
                    </div>
                  </div>
                  <div class="form-group mt-5"> -->
                <button type="button" v-on:click="_upload()" id="btn-upload-csv"
                  class="btn bg-dark text-white mt-5">Upload
                  File
                </button>
            </div>
            </form>
            </h3>
          </div>
        </div>
      </div>

      <div class="card card-cascade narrower mt-5">
        <section>
          <div class="row">
            <div class="col-12">
              <div class="card-body">
                <div class="table-responsive text-nowrap">
                  <span class="table-add float-right mb-3 mr-2" style="margin-top: 4px"><a href="#!"
                      class="text-success" data-toggle="modal" data-target="#modalinsert"><i class="fas fa-plus fa-2x"
                        aria-hidden="true"></i></a>
                  </span>
                  <div class="row py-3">
                    <div class="col-md-2"><input id="nameFilter" type="text" class="form-control"
                        placeholder="ค้นหาชื่อ-นามสกุล"></div>
                    <div class="col-md-2"><input id="codeFilter" type="text" class="form-control"
                        placeholder="ชื่อสินค้า/รหัสสินค้า"></div>

                    <div class="col-md-2">
                      <select id="statusFilter" class="form-control" required>
                        <option style="font-family:Kanit;" value="" selected>การชำระเงิน</option>
                        <option value="รอชำระเงิน">รอชำระเงิน</option>
                        <option value="โอนแล้ว">โอนแล้ว</option>
                        <option value="ยกเลิกสินค้า">ยกเลิกสินค้า</option>
                        <option value="รอสรุปยอด">รอสรุปยอด</option>
                      </select></div>
                    <div class="col-md-2">
                      <select id="categoryFilter" class="form-control" required>
                        <option value="" style="font-family:Kanit;" selected>หมวดหมู่</option>
                        <option value="ผ้าไหม" style="font-family:Kanit;">ผ้าไหม</option>
                        <option value="เสื้อไหม">เสื้อไหม</option>
                        <option value="เสื้อฝ้าย">เสื้อฝ้าย</option>
                        <option value="เครื่องเงิน">เครื่องเงิน</option>
                        <option value="กางเกงผ้าฝ้าย">กางเกงผ้าฝ้าย</option>
                        <option value="กางเกงผ้าไหม">กางเกงผ้าไหม</option>
                        <option value="ผ้าฝ้าย">ผ้าฝ้าย</option>
                        <option value="ผ้าคลุมไหล่">ผ้าคลุมไหล่</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <% var predate = moment().subtract(1, "days").format("D/MM/YYYY");
                        var todate = moment().format("D/MM/YYYY");
                        var date_value;
                        if(select_date) {
                          date_value = select_date
                        }else{
                          date_value = predate + ' - ' + todate
                        }
                      %>
                      <input type="text" class="form-control" name="daterange" value="<%=date_value%>" />
                    </div>
                  </div>

                  <!-- <div class="my-5">
                    ยอดรวม <span id="total" class="total-price"></span> บาท
                  </div> -->

                  <table id="example" class="table table-striped row-border" cellspacing="0" width="100%">
                    <thead style="border-radius: 10px;" class="text-center">
                      <tr class="text-center" style="color: #fff;
                      border-radius: 10px;
                      background-color: #9e7d35;">
                        <th class="font-18">รหัสออเดอร์</th>
                        <th class="font-18">ชื่อเฟสบุ๊ค</th>
                        <th class="font-18">ชื่อสินค้า</th>
                        <th class="font-18">รหัสสินค้า</th>
                        <th class="font-18">ยอดชำระทั้งหมด</th>
                        <th class="font-18">สถานะ</th>
                        <th class="font-18">หมวดหมู่สินค้า</th>
                        <th class="font-18">การจัดการ</th>
                        <th class="font-18">แก้ไขล่าสุด</th>
                        
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>ยอดรวม</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tfoot>
                    <tbody class="text-center">
                      <% for(const [key, order] of Object.entries(data))  {%>
                      <tr>
                        <td class="font-18"><%
                        let orderid = 'A'
                        let numorder = order.orderid.toString();
                      
                        for(let i = parseInt(numorder.length);i<= 4;i++){
                          orderid += '0'
                        } orderid += numorder;%>
                          <%= orderid %>
                        </td>
                        <td class="font-18"><%= order.facebook_name %></td>
                        <td class="font-18"><%= order.product_name %></td>
                        <td class="font-18"><%= order.product_code %></td>
                        <td data-order="<%= parseInt(order.totalprice); %>" class="font-18">
                          <%= order.totalprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %>
                        </td>
                        <%if(order.status==0){%>
                        <td class="text-primary font-18">รอชำระเงิน</td>
                        <%}else if(order.status == 1){%>
                        <td class="text-success font-18">โอนแล้ว</td>
                        <%} else if(order.status == 2){%>
                        <td class="text-danger font-18">ยกเลิกสินค้า</td>
                        <%} else if(order.status == 3){%>
                        <td class="text-warning font-18">รอสรุปยอด</td>
                        <%}else{%>
                          <td></td>
                        <% } %> 
                        <td class="font-18"><%= order.product_category %></td>
                        <td><button class="btn btn-primary btn-sm "
                            v-on:click="getOrder('<%= order.orderid %>','<%= order.totalprice %>','<%= order.status %>','<%= orderid %>')">รายละเอียด</button>
                        </td>
                        <td class="font-18"><%= moment(order.modify_date).format('DD MMMM  YYYY, h:mm:ss a');  %></td>
                        
                      </tr>
                      <%}%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    <div style="height: 300px"></div>
    <!-- Modal -->
    <div class="modal fade mt-5" id="orderList" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" style="z-index: 9998;" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <form action="/app/status" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">ข้อมูลออเดอร์ {{ ordercode }} 
              <span v-if="edit_status==0" class="badge badge-primary">รอชำระเงิน</span>
              <span  v-else-if="edit_status==1" class="badge badge-success">โอนแล้ว</span>
              <span v-else-if="edit_status==2" class="badge badge-danger">ยกเลิกสินค้า</span>
              <span  v-else-if="edit_status==3" class="badge badge-warning">รอสรุปยอด</span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="col-md-12" style="overflow-x:auto;">
              <table id="dtBasicExample" class="table table-striped row-border dt-responsive" cellspacing="0" width="100%">
                <thead>
                  <tr style="color: #fff;
                  border-radius: 10px;
                  background-color: #9e7d35;">
                    <th class="th-sm">ชื่อสินค้า</th>
                    <th class="th-sm">รหัสสินค้า</th>
                    <th class="th-sm">หมวดหมู่สินค้า</th>
                    <th class="th-sm">ราคาสินค้า</th>
                    <th class="th-sm">การจัดการ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in orderlist" :key="item.member_name">
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.product_code }}</td>
                    <td>{{ item.product_category }}</td>
                    <td>{{ item.product_price }}</td>
                    <td>
                      <i class="far fa-edit grow"
                      v-on:click="editOrder(item.member_name, item.product_name,item.product_code,item.facebook_name,item.product_price,item.status,item.product_category,item.product_size,item.totalprice,item._id)"></i>
                      <i class="text-danger far fa-trash-alt grow"
                      v-on:click="delOrder(item._id, item.product_price,item.orderid,ordercode)"></i>
                      <!-- <a v-bind:href="'/app/del/'+item._id+'/'+item.product_price+'/'+item.orderid"><i class="text-danger far fa-trash-alt grow"></i></a> -->
                    </td>
                  </tr>
                </tbody>
              </table>
              <input type="hidden" name="orderid" v-model="orderid">
              <input type="hidden" name="old_status" v-model="edit_status">
              <select name="edit_status" class="form-control" id="">
                <option v-if="edit_status==0" value="0" selected>รอชำระเงิน</option>
                <option v-else-if="edit_status==1" value="1" selected>โอนแล้ว</option>
                <option v-else-if="edit_status==2" value="2" selected>ยกเลิกสินค้า</option>
                <option v-else-if="edit_status==3" value="3" selected>รอสรุปยอด</option>
                <option value="0">รอชำระเงิน</option>
                <option value="1">โอนแล้ว</option>
                <option value="2">ยกเลิกสินค้า</option>
                <option value="3">รอสรุปยอด</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn border-dark bg-white text-dark">บันทึก</button>
            <button type="button" class="btn bg-dark text-white" data-dismiss="modal">ออก</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    <!-- Modal: insert -->

    <div class="modal fade mt-5" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
        aria-hidden="true" style="z-index: 100000;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">ยืนยันการลบ</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/app/del" method="POST">
              <div class="modal-body text-center">
                <!-- คุณต้องการลบออเดอร์ {{ordercode}}<br>
                {{del_product_price}} -->
                <input type="hidden" name="id" v-model="del_id">
                <input type="hidden" name="price" v-model="del_product_price">
                <input type="hidden" name="orderid" v-model="del_orderid">
               <button type="submit" class="btn bg-white text-dark">ยืนยันการลบ</button>
               <button type="button" class="btn bg-dark text-white" data-dismiss="modal">ปิด</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    <!-- Edit User Modal -->
<div class="modal fade mt-5" id="editModal" style="z-index: 9999;" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">สร้างออเดอร์/แก้ไข</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="/app/editorder" method="POST">
        <div class="col-md-12 text-center">
          <div class="form-group row">
            <div class="col-md-4 text-right my-auto">
              <label for="inputName" style="position: initial; justify-content: end;">ชื่อ-นามสกุล</label>
            </div>
            <div class="col-md-8 mt-1">
              <input type="hidden" class="form-control" name="_id" v-model="edit_id">
              <input type="hidden" class="form-control" name="old_price" v-model="old_price">
              <input type="hidden" class="form-control" name="last_price" v-model="lasttotalprice">
              <input type="text" class="form-control" name="edit_member_name" v-model="edit_member_name" id="inputName"
                placeholder="ชื่อ-นามสกุล" required>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="form-group row">
            <div class="col-md-4 text-right my-auto">
              <label for="inputName" style="position: initial; justify-content: end;">ชื่อเฟสบุ๊ค</label>
            </div>
            <div class="col-md-8 mt-1">
              <input type="text" class="form-control" name="edit_facebook_name" v-model="edit_facebook_name"
                id="inputName" placeholder="ชื่อเฟสบุ๊ค">
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="form-group row">
            <div class="col-md-4 text-right my-auto">
              <label for="inputEmail" style="position: initial; justify-content: end;">ไซส์</label>
            </div>
            <div class="col-md-8 mt-1">
              <input type="text" class="form-control" name="edit_product_size" v-model="edit_product_size" id="inputEmail"
                placeholder="ไซส์">
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="form-group row">
            <div class="col-md-4 text-right my-auto">
              <label for="inputTelno" style="position: initial; justify-content: end;">ชื่อสินค้า</label>
            </div>
            <div class="col-md-8 mt-1">
              <input type="text" class="form-control" id="inputTelno" name="edit_product_name" v-model="edit_product_name"
                 placeholder="ชื่อสินค้า" required>
            </div>
          </div>
        </div>
        
        <div class="col-md-12 text-center">
          <div class="form-group row">
            <div class="col-md-4 text-right my-auto">
              <label for="inputTelno" style="position: initial; justify-content: end;">รายละเอียด</label>
            </div>
            <div class="col-md-8 mt-1">
              <input type="text" class="form-control" id="inputTelno" name="edit_product_detail" v-model="edit_product_detail"
               placeholder="รายละเอียด">
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="form-group row">
            <div class="col-md-4 text-right my-auto">
              <label for="inputTelno" style="position: initial; justify-content: end;">รหัสสินค้า</label>
            </div>
            <div class="col-md-8 mt-1">
              <input type="text" class="form-control" id="inputTelno" name="edit_product_code" v-model="edit_product_code"
               placeholder="รหัสสินค้า">
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="form-group row">
            <div class="col-md-4 text-right my-auto">
              <label for="inputTelno" style="position: initial; justify-content: end;">หมวดหมู่สินค้า</label>
            </div>
            <div class="col-md-8 mt-1">
              <input type="hidden" name="edit_category" v-model="edit_product_category">
              <select name="edit_product_category" v-model="edit_product_category" class="form-control" required>
                <option v-if="edit_product_category=='ผ้าไหม'" style="font-family:Kanit;" value="ผ้าไหม" disabled selected>ผ้าไหม</option>
                <option v-else-if="edit_product_category=='เสื้อไหม'" style="font-family:Kanit;" value="เสื้อไหม" disabled selected>เสื้อไหม</option>
                <option v-else-if="edit_product_category=='เสื้อฝ้าย'" style="font-family:Kanit;" value="เสื้อฝ้าย" disabled selected>เสื้อฝ้าย</option>
                <option v-else-if="edit_product_category=='เครื่องเงิน'" style="font-family:Kanit;" value="เครื่องเงิน" disabled selected>เครื่องเงิน</option>
                <option v-else-if="edit_product_category=='กางเกงผ้าฝ้าย'" style="font-family:Kanit;" value="กางเกงผ้าฝ้าย" disabled selected>กางเกงผ้าฝ้าย</option>
                <option v-else-if="edit_product_category=='กางเกงผ้าไหม'" style="font-family:Kanit;" value="กางเกงผ้าไหม" disabled selected>กางเกงผ้าไหม</option>
                <option v-else-if="edit_product_category=='ผ้าฝ้าย'" style="font-family:Kanit;" value="ผ้าฝ้าย" disabled selected>ผ้าฝ้าย</option>
                <option v-else="edit_product_category=='ผ้าคลุมไหล่'" style="font-family:Kanit;" value="ผ้าคลุมไหล่" disabled selected>ผ้าคลุมไหล่</option>
                <option value="ผ้าไหม">ผ้าไหม</option>
                <option value="เสื้อไหม">เสื้อไหม</option>
                <option value="เสื้อฝ้าย">เสื้อฝ้าย</option>
                <option value="เครื่องเงิน">เครื่องเงิน</option>
                <option value="กางเกงผ้าฝ้าย">กางเกงผ้าฝ้าย</option>
                <option value="กางเกงผ้าไหม">กางเกงผ้าไหม</option>
                <option value="ผ้าฝ้าย">ผ้าฝ้าย</option>
                <option value="ผ้าคลุมไหล่">ผ้าคลุมไหล่</option>
              </select>
            </div>
          </div>

        </div>

        <div class="col-md-12 text-center">
          <div class="form-group row">
            <div class="col-md-4 text-right my-auto">
              <label for="inputUsername" style="position: initial; justify-content: end;">ราคา</label>
            </div>
            <div class="col-md-8 mt-1">
              <input type="tel" class="form-control" name="edit_product_price" v-model="edit_product_price" id="inputUsername"
              @keypress="isNumber($event)" maxlength="10" placeholder="ราคา" required>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="form-group row">
            <div class="col-md-4 text-right my-auto">
              <label for="inputPassword" style="position: initial; justify-content: end;">ยอดชำระ</label>
            </div>
            <div class="col-md-8 mt-1">
              <input type="tel" class="form-control" name="edit_totalprice" v-model="edit_totalprice"
              @keypress="isNumber($event)" maxlength="10" id="inputPassword" placeholder="ยอดชำระ">
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="form-group row">
            <div class="col-md-4 text-right my-auto">
              <label for="inputTelno" style="position: initial; justify-content: end;">สถานะ</label>
            </div>
            <div class="col-md-8 mt-1">
              <span v-if="edit_status==0" class="text-primary">รอชำระเงิน</span>
              <span  v-else-if="edit_status==1" class="text-success">โอนแล้ว</span>
              <span v-else-if="edit_status==2" class="text-danger">ยกเลิกสินค้า</span>
              <span  v-else-if="edit_status==3" class="text-warning">รอสรุปยอด</span>
            </div>
          </div>

        </div>
        <div class="text-center">
          <button v-if="edit_member_name !=''&& edit_product_name !=''&& edit_status != '' && edit_product_price != '' && edit_product_category != ''" style="background-color: black; color: #fff; border-radius: 0px;" type="submit" class="btn">บันทึก</button>
          <button v-else="check==false" style="background-color: black; color: #fff; border-radius: 0px;" type="submit" class="btn" disabled>บันทึก</button>
        </div>

      </form>
    </div>


  </div>
</div>
</div>
<!-- End Edit User -->
  </div>
</div>
  </main>
  <!--Main Layout-->
  <%- //include('footer') %>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <!-- <script type="text/javascript" src="/js/page/nav-active.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <!-- MDBootstrap Datatables  -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script type="text/javascript" src="/js/addons/datatables.min.js"></script>
  <!-- sweetalert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js">
  </script>
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script type="text/javascript">
                        $(document).ready(function () {
                          // SideNav Initialization
                          $(".button-collapse").sideNav();
                          //data table
                          $('#myModal').on('shown.bs.modal', function () {
                            $('#myInput').trigger('focus')
                          })

                          var datatable = $('#example').DataTable({
                            "order": [
                              [7, "desc"]
                            ],
                            "paging": true,
                            "autoWidth": true,
                            "footerCallback": function (row, data, start, end, display) {
                              var api = this.api();
                              nb_cols = api.columns().nodes().length;
                              var j = 7;
                              while (j < nb_cols) {
                                var pageTotal = api
                                  .column(4, {
                                    page: 'current'
                                  })
                                  .data()
                                  .reduce(function (a, b) {
                                    a = a.toString().replace(/,/g, '');
                                    b = b.toString().replace(/,/g, '');
                                    return Number(a) + Number(b);
                                  }, 0);
                                // Update footer
                                $(api.column(j).footer()).html(pageTotal);
                                // document.getElementById("total").innerHTML = pageTotal.toString().replace(
                                //   /\B(?=(\d{3})+(?!\d))/g, ',');;
                                j++;
                              }
                            }
                          });

                          $(".dataTables_length").addClass("bs-select");

                          $(".mdb-select").materialSelect();
                          // find by name
                          $(document).on('keyup', '#nameFilter', function () {
                            var value = $(this).val();
                            console.log(value);
                            // alert(value)
                            datatable.columns(1).search(value).draw();
                          });
                          //find by code
                          $(document).on('keyup', '#codeFilter', function () {
                            var value = $(this).val();
                            console.log(value);
                            // alert(value)
                            datatable.column([2, 3]).search(value).draw();
                          });
                          //find by status
                          $(document).on('change', '#statusFilter', function () {
                            var value = $(this).val();
                            console.log(value);
                            // alert(value)
                            datatable.columns(5).search(value).draw();
                          });
                          // find by category
                          $(document).on('change', '#categoryFilter', function () {
                            var value = $(this).val();
                            console.log(value);
                            // alert(value)
                            datatable.columns(6).search(value).draw();
                          });
                          
                        });


                        // MDB Lightbox Init
                        $(function () {
                          $("#mdb-lightbox-ui").load("/mdb-addons/mdb-lightbox-ui.html");
                         
                          
                        });

                        switch (window.location.search) {

                          case "?alert=update-success":
                            toastr.success("ยืนยันการจองเรียบร้อยแล้วค่ะ");
                            break;
                          case "?alert=edit-success":
                            toastr.warning("แก้รายการออเดอร์เรียบร้อยค่ะ");
                            break;
                          case "?alert=delete-success":
                            toastr.warning("ลบรายการจองสำเร็จ");
                            break;
                          case "?alert=confirm-success":
                            toastr.success("ยืนยันโต๊ะเสร็จสิ้น");
                            break;
                          case "?alert=delete-list-success":
                            toastr.warning("ลบรายการออเดอร์เเสร็จสิ้น");
                            break;
                          case "?alert=password-fail":
                            toastr.warning("รหัสผ่านไม่ถูกต้อง");
                            break;
                        }

                        function _edit(id, userid) {
                          const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                              confirmButton: "btn btn-success",
                              cancelButton: "btn btn-danger",
                            },
                            buttonsStyling: false,
                          });

                          swalWithBootstrapButtons
                            .fire({
                              title: "คุณต้องเปลี่ยนสถานะจอง ?",
                              //text: "You won't be able to revert this!",
                              icon: "warning",
                              showCancelButton: true,
                              confirmButtonText: "ยืนยันการจอง",
                              cancelButtonText: "ยกเลิก",
                              reverseButtons: true,
                            })
                            .then((result) => {
                              if (result.isConfirmed) {
                                window.location.href = "/admin/rev/edit/" + id + "/" + userid;
                              }
                            });
                        }

                        function _approve(id, userid) {
                          const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                              confirmButton: "btn btn-success",
                              cancelButton: "btn btn-danger",
                            },
                            buttonsStyling: false,
                          });

                          swalWithBootstrapButtons
                            .fire({
                              title: "คุณต้องการยืนยันการจอง ?",
                              //text: "You won't be able to revert this!",
                              icon: "warning",
                              showCancelButton: true,
                              confirmButtonText: "ยืนยันการจอง",
                              cancelButtonText: "ยกเลิก",
                              reverseButtons: true,
                            })
                            .then((result) => {
                              if (result.isConfirmed) {
                                window.location.href = "/admin/rev/" + id + "/" + userid;
                              }
                            });
                        }

                        function _approveCoupon(id, userid, coupon, amount) {
                          const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                              confirmButton: "btn btn-success",
                              cancelButton: "btn btn-danger",
                            },
                            buttonsStyling: false,
                          });

                          swalWithBootstrapButtons
                            .fire({
                              title: "คุณต้องการยืนยันการจอง ?",
                              //text: "You won't be able to revert this!",
                              icon: "warning",
                              showCancelButton: true,
                              confirmButtonText: "ยืนยันการจอง",
                              cancelButtonText: "ยกเลิก",
                              reverseButtons: true,
                            })
                            .then((result) => {
                              if (result.isConfirmed) {
                                window.location.href = "/admin/rev/used/" + id + "/" + userid + "/" + coupon + "/" +
                                  amount;
                              }
                            });
                        }

                        function _approvetable(id, userid) {
                          const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                              confirmButton: "btn btn-success",
                              cancelButton: "btn btn-danger",
                            },
                            buttonsStyling: false,
                          });

                          swalWithBootstrapButtons
                            .fire({
                              title: "คุณต้องการยืนยันการจอง ?",
                              //text: "You won't be able to revert this!",
                              icon: "warning",
                              showCancelButton: true,
                              confirmButtonText: "ยืนยันการจอง",
                              cancelButtonText: "ยกเลิก",
                              reverseButtons: true,
                            })
                            .then((result) => {
                              if (result.isConfirmed) {
                                window.location.href = "/admin/rev/booked/" + id + "/" + userid;
                              }
                            });
                        }

                        function _delete(id, userid) {
                          const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                              confirmButton: "btn btn-success",
                              cancelButton: "btn btn-danger",
                            },
                            buttonsStyling: false,
                          });

                          swalWithBootstrapButtons
                            .fire({
                              title: "คุณต้องการลบรายการนี้ ?",
                              //text: "You won't be able to revert this!",
                              icon: "warning",
                              showCancelButton: true,
                              confirmButtonText: "ยืนยัน",
                              cancelButtonText: "ยกเลิก",
                              reverseButtons: true,
                            })
                            .then((result) => {
                              if (result.isConfirmed) {
                                window.location.href = "/admin/rev/delete/" + id + "/" + userid;
                              }
                            });
                        }
                        new Vue({
                          el: "#app",
                          data() {
                            return {
                              orderlist: [],
                              facebook_name: '',
                              check: false,
                              lasttotalprice: '',
                              membername: '',
                              productsize: '',
                              productname: '',
                              productdetail: '',
                              category: '',
                              productcode: '',
                              productprice: '',
                              totalprice: '',
                              status: '',
                              edit_status: '',
                              displayName: 'fff',
                              userId: '',
                              pictureUrl: '',
                              temail: '',
                              qrcode: '',
                              id: 0,
                              all_order: [{
                                order_id: 0
                              }],
                              row: '',
                              ordercode: '',
                              edit_totalprice: '',
                              edit_id: '',
                              edit_member_name: '',
                              edit_product_name: '',
                              edit_product_code: '',
                              edit_facebook_name: '',
                              edit_product_price: '',
                              old_price: '',
                              edit_product_size: '',
                              edit_status: '',
                              edit_product_category: '',
                              edit_product_detail: '',
                              orderid: '',
                              del_id: '',
                              del_product_price: '',
                              del_orderid: '',
                              del_code: ''
                            }
                          },
                          created() {
                            // this.loadUsers();
                          },
                          methods: {
                            isNumber: function (evt) {
                              evt = (evt) ? evt : window.event;
                              var charCode = (evt.which) ? evt.which : evt.keyCode;
                              if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                                evt.preventDefault();;
                              } else {
                                return true;
                              }
                            },
                            async getOrder(orderid, totalprice, status, ordercode) {
                              this.orderid = orderid;
                              this.ordercode = ordercode;
                              this.edit_status = status;
                              this.lasttotalprice = totalprice;
                              // this.edit_status = status;
                              await axios
                                .get("/app/order/" + orderid)
                                .then(response => {
                                  this.orderlist = response.data
                                })
                                .catch(error => {
                                  console.log(error)
                                  this.errored = true
                                })
                                .finally($('#orderList').modal('show'))
                              console.log(this.orderlist)
                            },

                            async delOrder(_id, product_price, orderid, ordercode) {
                              this.del_code = ordercode
                              this.del_id = _id
                              this.del_product_price = product_price
                              this.del_orderid = orderid
                              $('#deleteModal').modal('show')

                            },
                            async editOrder(member_name, product_name, product_code, facebook_name, product_price,
                              status, product_category, product_size, totalprice, id) {
                              this.edit_id = id;
                              this.edit_member_name = member_name;
                              this.edit_product_name = product_name;
                              this.edit_product_code = product_code;
                              this.edit_facebook_name = facebook_name;
                              this.edit_product_price = product_price;
                              this.edit_product_size = product_size;
                              this.edit_status = status;
                              this.edit_product_category = product_category;
                              this.edit_totalprice = totalprice
                              this.old_price = product_price;
                              console.log("edit_member_name :" + this.edit_member_name);
                              console.log("edit_product_name :" + this.edit_product_name);
                              console.log("edit_product_code :" + this.edit_product_code);
                              console.log("edit_product_size :" + this.edit_product_size);
                              console.log("edit_facebook_name :" + this.edit_facebook_name);
                              console.log("edit_product_price :" + this.edit_product_price);
                              console.log("edit_status :" + this.edit_status);
                              console.log("edit_product_category :" + this.edit_product_category);
                              $('#editModal').modal('show');
                            },
                            async _upload() {
                              var od_id = 0;

                              Papa.parse(document.getElementById('upload-csv').files[0], {
                                download: true,
                                header: false,
                                complete: function (results) {
                                  var empty = 0;
                                  var data_empty = 0;
                                  check();
                                  function check() {
                                    for (let i = 1; i < results.data.length; i++) {
                                      // console.log(results.data[i][5])
                                      // console.log(results)
                                      if (results.data[i][5] == '' && empty == 0) {
                                        var empty = i
                                        if (results.data[i][1] == "" && empty == 0) {
                                          empty = i
                                        }
                                      }
                                      
                                        if (results.data[i][0] != "" && results.data[i][1] == "") {
                                          console.log(results.data[i][1])
                                          data_empty = 1
                                        } else if (results.data[i][0] == "" && results.data[i][1] == "") {
                                          console.log(results.data[i][1])
                                          data_empty = 1
                                        }
                                        if (results.data[i][0] != "" && results.data[i][3] == "") {
                                          console.log(results.data[i][3])
                                          data_empty = 1
                                        } else if (results.data[i][0] == "" && results.data[i][3] == "") {
                                          console.log(results.data[i][3])
                                          data_empty = 1
                                        }
                                        if (results.data[i][0] != "" && results.data[i][5] == "") {
                                          console.log(results.data[i][5])
                                          data_empty = 1
                                        } else if (results.data[i][0] == "" && results.data[i][5] == "") {
                                          console.log(results.data[i][5])
                                          data_empty = 1
                                        }
                                    }
                                  }
                                  if(data_empty!=0){
                                    console.log('ติด')
                                    Swal.fire(
                                      'ข้อมูลจำเป็นของคุณไม่ครบถ้วน?',
                                      'กรุณาตรวจสอบข้อมูลของท่าน',
                                      'warning'
                                    )
                                    
                                  }else{
                                    axios.post('/app/importorder', {
                                      data: results,
                                      row: empty
                                    })
                                    .then((response) => {
                                      console.log(response);
                                      let timerInterval

                                      if (response.status == 200) {
                                        window.location.href = "/app";
                                      }
                                    }, (error) => {
                                      console.log(error);
                                    });
                                    Swal.fire({
                                    title: 'ระบบกำลังอัปโหลด',
                                    html: 'กรุณารอสักครู่',
                                    timer: 6000,
                                    timerProgressBar: true,
                                    didOpen: () => {
                                      Swal.showLoading()
                                      timerInterval = setInterval(() => {
                                        const content = Swal.getContent()
                                        if (content) {
                                          const b = content.querySelector('b')
                                          if (b) {
                                            b.textContent = Swal.getTimerLeft()
                                          }
                                        }
                                      }, 100)
                                    },
                                    willClose: () => {
                                      clearInterval(timerInterval)
                                    }
                                  }).then((result) => {
                                    /* Read more about handling dismissals below */
                                    if (response.status == 200) {
                                      window.location.href = "/app";
                                    }
                                  })
                                  }
                                  console.log(empty)
                                 
                                  
                                  // console.log(results.data[0])



                                }
                              });
                            }
                          }
                        })
                        //Date picker
                        $(function () {
                          $('input[name="daterange"]').daterangepicker({
                            timePicker: false,
                            // startDate: predate,
                            // endDate: todate,
                            locale: {
                              format: 'D/MM/YYYY'
                            },
                            opens: 'left'
                          }, function (start, end, label) {

                            window.location.href = `/app?date_start=${start.format('YYYY-MM-DD')}&date_end=${end.format('YYYY-MM-DD')}`
                            //console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                          });
                        });
                      </script>
</body>

</html>